
.footer{
  background: #84e502; 
    height: 80px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
