
.header{
    background: #84e502; 
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .Title-header{
    line-height: 0px;
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
  }
  
  .sections{
    color: rgb(255, 255, 255);
    border-left: rgb(255, 255, 255) 2px solid;
      text-decoration: none;
      padding: 0 10px;
  }
  
  