.Frase img{
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-radius: 25px;
}
.Expertos{
    width: 18%;
    height: 3%;

    transform: translate(-500px,30px);
    text-align: center;
}
.Expertos img{
    width: 30%;
    height: 5%;
}
.Profesionales{
    width: 18%;
    height: 20%;
    transform: translate(-163px,-220px);
    text-align: center;
}
.Profesionales img{
    width: 30%;
}
.Pacientes{
    width: 18%;
    height: 3%;
    transform: translate(170px,-491px);
    text-align: center;
}
.Pacientes img{
    width: 30%;
}
.DietasPersonalizadas{
    width: 18%;
    height: 3%;
    transform: translate(500px,-740px);
    text-align: center;
}
.DietasPersonalizadas img{
    width: 30%;
}
.SubTituloHome{

}
.TextoSubtitulo{

}