.body-container-nutriologos{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 1000px;
    margin-top:10px;
}

.tituloNutriologo{
    font-family: Arial, Helvetica, sans-serif;
    color: #019002;
}
.subtituloNutriologo{
    color: #002923;
}
.Container-Nutricionista{
    margin-top: 60px;
    width: 1000px;
    height: 200px;
    background-color: #7bcfbf;
}

.info-Nutriologo{
    transform: translate(40px,15px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}